{% extends 'wrapper.html' %}

{% block title %}
  Register - {{ block.super }}
{% endblock %}

{% block content %}
  <h2>Registration at Flaskr</h2>
  <form action="{{ url_for('auth.register') }}" method="POST">
    <input type="text" placeholder="Username" id="username" name="username"><br>
    <input type="password" placeholder="Password" id="password" name="password"><br>
    <input type="password" placeholder="Password" id="password2" name="password2"><br>
    {% include 'includes/list_flashed.html' %}
    <button type="submit">Submit!</button>
  </form>
{% endblock %}